<h1>Welcome to Our Coin Counter</h1>
<form action = "/title">
  <div class = "form-group">
    <label for = "numCents"> Enter the total number of cents (integer) and this program will output the minimum number of each coin for you: </label>
    <input id = "numCents" name="numCents" class = "form-control" type = "text">
  </div>
  <button type = "submit" class = "btn-success">Submit!</button>
</form>
